@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
/* realisatiopn du header avec css */
header {
  font-family: "shrikhand", cursive;
  text-align: center;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 2px grey;
  padding: 0.01rem;
}

/* fin de header */
/* debut de css sur le body (corps de la page) */
body {
  margin: 0;
}

/* fin de body avec css */
/* css pour la partie main */
main {
  width: 75%;
  margin: auto;
}

/* fin de la partie main */
/* css de la partie fonctionnement et barre de trois menu */
.navigation {
  font-family: "roboto", cursive;
  text-align: center;
  font-size: 1.2rem;
  background-color: #eaeaea;
  padding: 0.05rem;
}
.navigation i {
  font-size: 1.5rem;
}

.menu {
  background-color: #ddcccc;
  text-align: center;
  padding: 4rem;
}
.menu h3 {
  color: white;
  border-radius: 25px 25px 25px 25px;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  padding: 1rem;
  width: 25%;
  margin: auto;
}
.menu h3 :hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 5px 4px #3e83eb;
}

.Fonctionnement_barre {
  padding-top: 2.5rem;
}
.Fonctionnement_barre .lignes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
}
.Fonctionnement_barre .lignes .ligne_une, .Fonctionnement_barre .lignes .ligne_deux {
  background-color: rgb(248, 248, 248);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 4px rgb(214, 203, 203);
  padding: 1rem;
}
.Fonctionnement_barre .lignes .ligne_une span, .Fonctionnement_barre .lignes .ligne_deux span {
  display: flex;
  gap: 1rem;
}
.Fonctionnement_barre .lignes .ligne_une span .numero, .Fonctionnement_barre .lignes .ligne_deux span .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0065fc;
  color: white;
  width: 30px;
  height: 30px;
  margin-left: -1.8rem;
}
.Fonctionnement_barre .lignes .ligne_trois {
  background-color: rgb(118, 172, 233);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 4px rgb(90, 165, 235);
  padding: 1rem;
}
.Fonctionnement_barre .lignes .ligne_trois span {
  display: flex;
  gap: 1rem;
}
.Fonctionnement_barre .lignes .ligne_trois span .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0065fc;
  color: white;
  width: 30px;
  height: 30px;
  margin-left: -1.8rem;
}

/* fin de la partie fonctionnement et barre de trois menu */
/* creation de la section restaurants et menu avec images */
.restaurant_menu {
  width: auto;
  padding-top: 2.5rem;
}
.restaurant_menu .restaurants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.restaurant_menu .restaurants .restaurant_un {
  background-color: aliceblue;
  width: auto;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 5px 4px rgb(90, 165, 235);
}
.restaurant_menu .restaurants .restaurant_un img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}
.restaurant_menu .restaurants .restaurant_un figcaption {
  margin-left: 1rem;
}
.restaurant_menu .restaurants .restaurant_un figcaption p {
  padding-right: 6rem;
}
.restaurant_menu .restaurants .restaurant_un figcaption .Folie-Méricourt {
  display: flex;
  align-items: baseline;
  margin-top: -2rem;
}
.restaurant_menu .restaurants .restaurant_un figcaption .Folie-Méricourt i:hover {
  cursor: pointer;
  transform: scale(1);
  color: #ce800c;
}

.image3 {
  height: 225px;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73, 69, 65);
  color: white;
  margin-top: 8rem;
  height: 13rem;
}
footer .foot {
  padding-left: 2rem;
}
footer h2 {
  font-family: "shrikhand", cursive;
  padding-left: 2rem;
}

/* responsive avec media query */
/* Media query pour android avec max width de 850 */
@media (min-width: 851px) and (max-width: 1000px) {
  main {
    width: auto;
  }
  main .navigation {
    width: 100%;
    height: 5rem;
  }
  main .menu {
    padding: 1rem;
  }
  main .Fonctionnement_barre {
    padding: 1rem;
  }
  main .Fonctionnement_barre .lignes {
    display: flex;
  }
  main .Fonctionnement_barre .lignes .ligne_une, main .Fonctionnement_barre .lignes .ligne_deux, main .Fonctionnement_barre .lignes .ligne_trois {
    margin-top: 1rem;
  }
  main .restaurant_menu {
    padding: 1rem;
  }
  main .restaurant_menu .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .restaurant_menu .restaurants img {
    width: 100%;
    height: auto;
  }
  main figcaption {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
  main figcaption p {
    padding-right: 6.5rem;
  }
}
/* Media query pour android avec max width de 850 */
@media all and (min-width: 641px) and (max-width: 850px) {
  main {
    width: 100%;
  }
  main .navigation {
    width: auto;
    height: 5rem;
  }
  main .menu {
    padding: 1rem;
  }
  main .Fonctionnement_barre {
    padding: 1rem;
  }
  main .Fonctionnement_barre .lignes {
    display: flex;
  }
  main .Fonctionnement_barre .lignes .ligne_une, main .Fonctionnement_barre .lignes .ligne_deux, main .Fonctionnement_barre .lignes .ligne_trois {
    margin-top: 1rem;
  }
  main .restaurant_menu {
    padding: 1rem;
  }
  main .restaurant_menu .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .restaurant_menu .restaurants img {
    width: 100%;
    height: auto;
  }
  main figcaption {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
  main figcaption p {
    padding-right: 6.5rem;
  }
}
/* Media query pour android avec max width de 640 */
@media all and (min-width: 376px) and (max-width: 640px) {
  main {
    width: 100%;
  }
  main .navigation {
    width: auto;
    height: 5rem;
  }
  main .menu {
    padding: 1rem;
  }
  main .Fonctionnement_barre {
    padding: 1rem;
  }
  main .Fonctionnement_barre .lignes {
    display: block;
  }
  main .Fonctionnement_barre .lignes .ligne_une, main .Fonctionnement_barre .lignes .ligne_deux, main .Fonctionnement_barre .lignes .ligne_trois {
    margin-top: 1rem;
  }
  main .restaurant_menu {
    padding: 1rem;
  }
  main .restaurant_menu .restaurants {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .restaurant_menu .restaurants img {
    width: 100%;
    height: auto;
  }
  main figcaption {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
  main figcaption p {
    padding-right: 8rem;
  }
}
/* Media query pour android avec max width de 375 */
@media (max-width: 375px) {
  main {
    width: 100%;
  }
  main .navigation {
    width: auto;
    height: 5rem;
  }
  main .menu {
    padding: 2rem;
  }
  main .menu h3 {
    width: auto;
  }
  main .Fonctionnement_barre {
    padding: 1rem;
  }
  main .Fonctionnement_barre .lignes {
    display: block;
  }
  main .Fonctionnement_barre .lignes .ligne_une, main .Fonctionnement_barre .lignes .ligne_deux, main .Fonctionnement_barre .lignes .ligne_trois {
    margin-top: 1rem;
  }
  main .restaurant_menu {
    padding: 1rem;
  }
  main .restaurant_menu .restaurants {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .restaurant_menu .restaurants img {
    width: 100%;
    height: auto;
  }
  main figcaption {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
  main figcaption p {
    padding-right: 3rem;
  }
}/*# sourceMappingURL=Ma_page_1.css.map */