@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
body {
  margin: 0;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 2px grey;
  padding: 0.01rem;
}

h4 {
  text-decoration: underline;
  text-decoration-skip: edge;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  margin: auto;
}
main img {
  width: 100%;
  height: 400px;
}
main h1 {
  font-size: 3rem;
  font-family: "shrikhand", cursive;
  text-align: center;
}

.entree_plats_dessert {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.ENTREES {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
.ENTREES .ENTREES_Menu {
  background-color: rgb(248, 248, 248);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 4px rgb(214, 203, 203);
  padding: 1rem;
}
.ENTREES .ENTREES_Menu .ENTREES_prix {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.commande h3 {
  text-align: center;
  color: white;
  border-radius: 25px 25px 25px 25px;
  background-color: #68a0f5;
  padding: 1rem;
  width: 25%;
  margin: auto;
  margin-top: 4rem;
}
.commande h3 :hover {
  cursor: pointer;
  transform: scale(1);
  background-color: rgb(79, 79, 177);
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73, 69, 65);
  color: white;
  margin-top: 8rem;
  height: 13rem;
}
footer .foot {
  padding-left: 2rem;
}
footer h2 {
  font-family: "shrikhand", cursive;
  padding-left: 2rem;
}

/* Media query pour android avec max width de 840 */
@media (max-width: 840px) {
  header h1 {
    padding: 0;
    position: sticky;
    top: 0;
  }
  main {
    width: 100%;
    margin-bottom: -5rem;
  }
  main img {
    width: 100%;
    height: 200px;
  }
  main h1 {
    font-size: 1.5rem;
  }
  .myfood .ENTREES {
    display: block;
  }
  .myfood h4 {
    padding-left: 1.5rem;
  }
  .entree_plats_dessert {
    display: block;
    margin: 0.6rem;
  }
  .ENTREES_Menu {
    background-color: rgb(231, 225, 217);
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 0.6rem;
    box-shadow: none;
    border-radius: 10px 0px 10px 0px;
  }
  .commande h3 {
    padding-right: 3rem;
    margin-top: 2rem;
  }
  .commande h3 :hover {
    cursor: pointer;
    transform: scale(1);
    background-color: rgb(79, 79, 177);
  }
  footer {
    height: 9rem;
  }
  footer .foot, footer h2 {
    font-size: small;
  }
}
/* Media query pour android avec max width de 640 */
@media (max-width: 640px) {
  header h1 {
    padding: 0;
    position: sticky;
    top: 0;
  }
  main {
    width: 100%;
    margin-bottom: -5rem;
  }
  main img {
    width: 100%;
    height: 200px;
  }
  main h1 {
    font-size: 1.5rem;
  }
  .myfood h4 {
    padding-left: 1.5rem;
  }
  .myfood .ENTREES {
    display: block;
  }
  .entree_plats_dessert {
    display: block;
    margin: 0.6rem;
  }
  .ENTREES_Menu {
    background-color: rgb(231, 225, 217);
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 0.6rem;
    box-shadow: none;
    border-radius: 10px 0px 10px 0px;
  }
  .commande h3 {
    padding-right: 3rem;
    margin-top: 2rem;
  }
  .commande h3 :hover {
    cursor: pointer;
    transform: scale(1);
    background-color: rgb(79, 79, 177);
  }
  footer {
    height: 9rem;
  }
  footer .foot, footer h2 {
    font-size: small;
  }
}

/*# sourceMappingURL=Ma_page_4.css.map */
